@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

*,
*::before,
*::after {
    overflow: hidden;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100%;
    background-color: #333;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

/* Black background color for top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

/* Styling for links inside navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.0625rem;
}

/* Change color of links on hover */
.topnav a:hover {
    background-color: pink;
    color: #333;
    border-radius: 15px;
}

/* Add active class to highlight current page */
.topnav a.active {
    background-color: hotpink;
    color: black;
    border-radius: 15px;
}

/* Hide link that opens and closes topnav on small screens */
.topnav .icon {
    display: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

.active {
    border-bottom: 1px solid white;
}

.container {
    width: 80vw;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    background-color: #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5vh;
    padding-top: 10vh;
    margin-bottom: 20vh;
    margin-top: 13vh;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0.125rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1vh;
    margin-top: .5vh;
}

.btn {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #333;
    padding: 0.3125rem 1.25rem;
    color: rgba(255, 255, 255, 1);
    outline: none;
    font-size: 1.4rem;
}

.btn-hover {
    border-color: black;
}

#tile {
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    max-height: 100%;
}

#tile-img {
    width: 20vw;
    max-width: 100%;
    height: auto;
    padding-top: 2%;
}

#text {
    color: white;
}

#img-container {
    text-align: center;
}



/* Standard desktop monitor */
@media screen and (max-width: 1920px) {
    * {
        font-size: 1.4rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 80vw;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        width: 80vw;
        height: auto;
    }

    #tile-img {
        width: 20vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}

/* Large laptop */
@media screen and (max-width: 1440px) {
    * {
        font-size: 1.4rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 80vw;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        width: 80vw;
        height: auto;
    }

    #tile-img {
        width: 20vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}

@media screen and (max-width: 1080) and (max-height: 675) {
    * {
        font-size: 1.1rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 80vw;
        max-width: 100%;
        height: 40vh;
        max-height: 100%;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        width: 80vw;
        height: 40vh;
    }

    #tile-img {
        width: 20vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}

/* Laptop */
@media screen and (max-width: 1024px) {
    * {
        font-size: 1.1rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 80vw;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        width: 80vw;
        height: auto;
    }

    #tile-img {
        width: 20vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    * {
        font-size: 1.4rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 100vw;
        height: auto;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        width: 80vw;
        height: auto;
    }

    #tile-img {
        width: 50vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}

/* Large mobile device */
@media screen and (max-width: 425px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 100vw;
        height: auto;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        height: 50vh;
    }

    #tile-img {
        width: 50vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}

/* Pixel 2 & Pixel 2XL */
@media screen and (max-width: 411px) {
    * {
        font-size: 1.2rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 90vw;
        height: 90vh;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        height: 22vh;
    }

    #tile-img {
        width: 60vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }

    #img-container {
        text-align: center;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {

    .container {
        width: 90vw;
        height: 90vh;
    }

    #tile {
        height: 22vh;
    }

    #tile-img {
        width: 50vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }
}

/* Medium mobile device */
@media screen and (max-width: 375px) {
    * {
        font-size: 1rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 100vw;
        height: auto;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        height: 40vh;
    }

    #tile-img {
        width: 50vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}


/* Small mobile device */
@media screen and (max-width: 320px) {
    * {
        font-size: 1rem;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .container {
        width: 100vw;
        height: auto;
    }

    .btn {
        font-size: 1rem;
    }

    #tile {
        height: 32vh;
    }

    #tile-img {
        width: 50vw;
        height: 50vh;
        max-width: 100%;
        max-height: 100%;

    }

    #text {
        font-size: 1rem;
    }


    #img-container {
        text-align: center;
    }
}