@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

*,
*::before,
*::after {
    overflow: hidden;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100%;
    background-color: #333;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

/* Black background color for top navigation */
.topnav {
    grid-column: 2 / span 6;
    grid-row: 2;
    background-color: black;
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

/* Styling for links inside navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.0625rem;
}

/* Change color of links on hover */
.topnav a:hover {
    background-color: white;
    color: #333;
    border-radius: 15px;
}

/* Add active class to highlight current page */
.topnav a.active {
    background-color: white;
    color: black;
    border-radius: 15px;
}

/* Hide link that opens and closes topnav on small screens */
.topnav .icon {
    display: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

.active {
    border-bottom: 1px solid grey;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 5vw 15vw 20vw 20vw 20vw 15vw 5vw;
    grid-template-rows: 5vw 10vw 10vw 25vw 25vw 20vw 5vw;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0.125rem;
}

.btn-grid {
    grid-template-columns: repeat(2, auto);
    gap: 1vh;
    margin-top: .5vh;
}

.btn {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #333;
    padding: 0.3125rem 1.25rem;
    color: rgba(255, 255, 255, 1);
    outline: none;
    font-size: 1.4rem;
}

.btn-hover {
    border-color: black;
}

#text {
    grid-column: 1 / span;
    color: white;
}


#img-container {
    text-align: center;
}