@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    background-color: black;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;
    margin-left: 30px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/galaxy.jpeg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#start-game {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(11, 58, 240, .4);
    color: black;
    bottom: 30px;
    right: 150px;

    position: absolute;

    border-radius: 15px;
}

#about {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid white;
    width: 100%;
    margin: 5px 0;
}

#left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
}

#left-about-heading h2 {
    text-align: left;
}

#left-about-heading p {
    text-align: left;
}

#right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
}

#right-about-heading h2 {
    text-align: right;
}

#right-about-heading p {
    text-align: right;
}