@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

*,
*::before,
*::after {
    overflow: hidden;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.container {
    width: 80vw;
    max-width: 100%;
    height: 100vh;
    max-height: 90%;
    background-color: #333;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3vh;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 1px;
}

.btn {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #333;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 1);
    outline: none;
    font-size: 1.4rem;
}

.btn-hover {
    border-color: black;
}

#tile {
    width: 60vw;
    max-width: 80%;
    height: 70vh;
    max-height: 80%;
    text-align: center;
}

#tile-img {
    width: 100vw;
    max-width: 100%;
    padding-top: 2%;
    align-content: center;
}

#text {
    color: white;
}